<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Vue Events</h1>
    </header>
    <section id="events">
      <h2>Styling Practice</h2>
      <input type="text" name="color" id="color" v-model='color'>
      <p :style="{background: color}">Styled</p> 
      <button @click="toggleVis">Toggle</button>
      <input type="text" v-model="classWritten">
      <p v-show ="visible" :class="classWritten">U see me!</p>
    </section>
  </body>
</html>
